[Unit]
Description=jwt-sta.service
After=networking.service

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
StartLimitInterval=60s
WorkingDirectory=/home/admin/wang/localhub/jwt/
ExecStart=/home/admin/wang/localhub/jwt/src/jwt-sta.js
ExecStop=/bin/kill -s QUIT $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target